/*
*	全局变量: 颜色 字体 字体大小等
*/

/* colors
-------------------------- */

/*
灰度系列：
		1. 背景颜色：   colorBgGray
		2. 领券 + 已选  colorInfoGray
		3. 评论灰色   colorGrayLight-1
		4. 边框颜色	
			深度系	 colorGrayLight-1
			浅色系	 colorGrayLight-2
		灰色程度：colorInfoGray > colorGrayLight-1 > colorGrayLight-2
*/
$gcolorBgGray:#f6f6f6 !default;/*默认 背景颜色*/
$gcolorInfoGray:#4d4d4c !default;/*默认灰色 normal*/
$gcolorGrayLight-1:#a7a7a2 !default; /*默认灰色 浅灰*/
$gcolorGrayLight-2:rgba(192,192,189,0.2) !default;  /*默认灰色 浅浅灰*/
/*高亮色*/
$gcolorHighlightRed:red;

/* font-family
-------------------------- */
$gfontfamily:'Microsoft YaHei' !default;

/* font-size
-------------------------- */
$gfontsizeBig: 1rem;
$gfontsizeNormal:0.8rem;
$gfontsizeSmall:0.7rem;
$gfontsizeMini:0.6rem;
